:root {
  --white: #fafafa;
  --blue: rgba(20,153,254,1);
  --purple: rgba(100,78,189,1);
  --error: rgba(228, 0, 24, 0.73);
  --success: rgb(7, 136, 8);
  --shadow: rgba(0,0,0,0.2);
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--white);
  margin: 0;
  min-height: 100vh;
}

html { min-height: 100vh; }

header {
  box-shadow: 0 4px 8px 0 var(--shadow);
}

.header-content-wrapper {
  display: flex;
  align-items: center;
  padding: 15px;
}

.logo { max-width: 40px; }

.logo-text {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
  font-weight: 500;
}

.constraint {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.gameboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

/* 135 works well for mobile */
.card {
  margin: 10px;
  background-color: transparent;
  width: 135px;
  height: 135px;
  perspective: 1000px;
  border-radius: 5px;
  display: inline-block;
}

.card.fail .card-inner {
  box-shadow: 0 0px 8px 0 var(--error);
  transition: box-shadow .3s;
}

.card.success .card-inner {
  box-shadow: 0 0px 8px 0 var(--success);
  transition: box-shadow .3s;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 var(--shadow);
}

.card.animated .card-inner { transform: rotateY(180deg); }

.card-front, .card-back {
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  left: 0;
  right:0;
  border-radius: 5px;
}

.card-back {
  background: var(--purple);
  background: linear-gradient(216deg, var(--purple) 5%, var(--blue) 98%);
  color: black;
}

.card-back:hover {
  background: linear-gradient(216deg, var(--purple) 10%, var(--blue) 65%);
}

.card-front {
  color: var(--white);
  transform: rotateY(180deg);
}

.legal {
  font-size: 12px;
  margin-top: auto;
}

.legal a {
  color: var(--blue);
}

/* Form styles */
.submit, .play-again {
  display: block;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--blue);
  color: var(--white);
  border: none;
  font-size: 25px;
  margin: 15px auto 0;
  font-weight: 500;
  min-width: 200px;
}

form .flex-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  max-width: 400px;
  margin: auto;
}

.question { margin-right: 30px; }

@media only screen and (min-width: 500px) {
  .logo { max-width: 75px; }

  .card {
    width: 150px;
    height: 150px;
  }
}

/* Helpers */
.hide { display: none; }
